# GCP Infrastructure Settings
GCP_PROJECT_ID=olist-gcp-data-engineering
GCP_REGION=asia-southeast1
GCS_BUCKET_NAME=olist-gcp-data-lake-luqman-96
GCP_SA_KEY_PATH=keys/gcp-key.json

# BigQuery Dataset Names
BQ_RAW_DATASET=raw_flights
BQ_MARTS_DATASET=marts_flights

# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=kafka:9092
KAFKA_TOPIC=opensky_flights_raw

# OpenSky API Credentials (Optional - anonymous access supported with lower rate limit)
OPENSKY_USERNAME=
OPENSKY_PASSWORD=
OPENSKY_POLL_INTERVAL=10

# Airflow Configuration
AIRFLOW_IMAGE_NAME=apache/airflow:2.8.1-python3.10
AIRFLOW_UID=50000
_PIP_ADDITIONAL_REQUIREMENTS=google-cloud-storage google-cloud-bigquery dbt-bigquery apache-airflow-providers-google

# Metadata Database (PostgreSQL)
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow
POSTGRES_PORT=5432
