# Environment & Credentials
.env
*.json
*.pem
*.key
gcp-key.json
keys/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/webserver_config.py
airflow/airflow-worker.pid

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml

# Python / Virtual Environments
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Docker volumes & local data
data/
kafka_data/
postgres_data/

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
terraform/.terraform.lock.hcl

# IDE & OS Metadata
.DS_Store
.vscode/
.idea/
